<div class="container rounded overflow-hidden position-relative pt-5 px-5">

    <!-- loader for waiting time for response -->
    <div *ngIf="!isLoaded"
        class="position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center">
        <div class="loader"></div>
    </div>

    <!-- content from api response -->
    <div class="row g-2 mt-5" *ngIf="isLoaded">
        <div class="col-md-4" *ngFor="let task of tasksList; trackBy: listTrackBy">
            <div class="inner position-relative p-3 rounded shadow cursor-pointer z-3"
                [ngClass]="{'bg-warning': !task.status , 'bg-info': task.status}"
                [routerLink]="['/taskdetails',task.id]">
                <div class="d-flex gap-2 position-absolute top-0 end-0 m-3">
                    <button class="btn btn-success" title="Update Task" (click)="updateTask(task.id)"><i class="fa-regular fa-pen-to-square"></i></button>
                    <button class="btn btn-secondary" title="Dublicate Task" (click)="dublicateTask(task.id, $event)"><i
                            class="fa-regular fa-copy"></i></button>
                    <button class="btn btn-danger" title="Delete Task" (click)="deleteTask(task.id, $event)"><i
                            class="fa-solid fa-trash"></i></button>
                </div>
                <h2 class="text-uppercase">{{task.title}}</h2>
                <p>{{task.description}}</p>
                <ng-container *ngIf="task.status; else pending">
                    <p class="text-success">Complete</p>
                </ng-container>
                <ng-template #pending>
                    <p class="text-danger">Pending</p>
                </ng-template>
                <p [ngClass]="{'text-danger': !task.status , 'text-white': task.status}">Priority: {{task.priority}}
                </p>
                <div class="d-flex justify-content-between bg-dark text-white px-3 py-2 rounded">
                    <span>Start Time:
                        <span
                            *ngIf="task.startTime != ''; else noStartTime;">{{task.startTime?.slice(0,10)?.split('-')?.reverse()?.join('/')}}</span>
                        <ng-template #noStartTime>
                            <i class="fa-solid fa-minus"></i>
                        </ng-template>
                    </span>
                    <span>End Time:
                        <span
                            *ngIf="task.endTime != ''; else noEndtime;">{{task.endTime?.slice(0,10)?.split('-')?.reverse()?.join('/')}}</span>
                        <ng-template #noEndtime>
                            <i class="fa-solid fa-minus"></i>
                        </ng-template>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>